.hHv {
	position : absolute;
}

.hHv ul {
	margin : 0px;
	margin-top : 5px;
	height : 100%;
}

.hHv li {
	display: inline;
	list-style-type: none;
	padding : 0px;
	padding-right: 20px;
}

#hHv {
	top : 1%;
	height : 5%;
	left : 20%;
	width : 60%;
	border : 1px solid navy;
}

.XZU {
	position : absolute;
	border : 1px solid purple;
	top : 2%;
}

#gac {
	left : 5%;
	width : 10%;
}

#cTm {
	right : 5%;
	width : 10%;
}

#FPF {
	left : 20%;
	width : 60%;
	top : 7%;
}